Makefile.in
Makefile
.deps
.libs
*.o
*.lo
*.la
*.a
*~
LIBOBJ
/src/mhegenc
/src/mheg.c
/src/mheg.h
/src/mheg-lexer.c
/autom4te.cache
/aclocal.m4
/config.log
/config.status
/config.sub
/config.guess
/configure
/config.h.in
/config.h
/ltmain.sh
/libtool
/depcomp
/stamp-h*
/ylwrap
/install-sh
/missing
